.care {
    min-height: 835px;
    background: url('../../img/care/care.jpg') center (center / cover) no-repeat;
    padding: 42px 0 90px 0;

    // .care__descr
    &__intro {
        display: flex;
        align-items: flex-end;

        &-divider {
            width: 80%;
            height: 1px;
            background-color: #FFDF9E;
            margin: 0 auto;
            position: relative;
            display: flex;
            justify-content: flex-end;

            &::before {
                content: '';
                display: block;
                position: relative;
                background: url('../../icons/intro-light.svg') center (center / cover) no-repeat;
                width: 42.7px;
                height: 35.88px;
                top: -35px;
            }
        }
    }

    &__title {
        color: #FFDF9E;
        position: relative;
    }

    &__descr {
        width: 100%;
        padding: 22px 16px;
        min-height: 107px;
        background: rgba(57, 54, 47, 0.8);
        border-radius: 5px;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        letter-spacing: 0.1em;
        font-weight: $light;
        color: #FFDF9E;
        margin-top: 47px;
    }

    // .care__wrapper

    &__wrapper {
        margin-top: 40px;
    }
}

.tabs {
    display: flex;

    &__wrapper {
        border-radius: 5px;
        padding: 40px 10px 57px 20px;
        min-height: 490px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }

    // .tabs__titles

    &__titles {
        width: 30%;
        list-style-type: none;
    }

    // .tabs__item

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 64px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        text-transform: uppercase;
        margin-bottom: 18px;

        &-active {
            background: rgba(255, 239, 227, 0.83);
            border: 2px solid #FF7E35;
            border-right: 15px solid #FF7E35;
            color: #FF7E35;
        }

        // &:not(:last-child) {
        //     margin-bottom: 18px;
        // }
    }

    // .tabs__content

    &__content {
        width: 70%;
        display: flex;
        align-items: center;
        margin-left: 23px;
    }

    // .tabs__content-wrapper

    &__content-wrapper {
        list-style-type: none;
    }

    // .tabs__content-points

    &__content-points {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.05em;
        margin-left: 10px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: #FF7E35;
            border-radius: 100%;
            margin-top: 10px;
        }

        p {
            margin-left: 10px;
        }
    }

    // .tabs__footnote

    &__footnote {
        margin-top: 48px;
        font-weight: $light;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.06em;
    }
}

.accordeon {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

//Media
@media (max-width: 991.98px) {
    .care {
        &__title {
            width: 25%;
        }

        &__descr {
            font-size: 13px;
        }
    }

    .tabs {
        &__content-points {
            line-height: 22px;
        }

        &__titles {
            width: 35%;
        }
    }
}

@media (max-width: 767.98px) {
    .care {
        &__title {
            width: 35%;
            margin-bottom: -5px;
        }

        &__descr {
            font-size: 12px;
        }
    }

    .tabs {
        display: none;
    }

    .accordeon {
        display: flex;
        flex-direction: column;

        &__item {
            margin-bottom: 15px;

            &-trigger {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 46px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                text-transform: uppercase;
                &-active {
                    background: rgba(255, 239, 227, 0.83);
                    border: 2px solid #FF7E35;
                    border-right: 15px solid #FF7E35;
                    color: #FF7E35;
                }
            }


            &-content {
                display: none;
                margin-top: 10px;
                li {
                    font-weight: $light;
                }
            }
        }
    }
    .accordeon__item-active .accordeon__item-content {
        display: block;
       
    }
    @media (max-width: 575.98px) {
        .care {
            min-height: 630px;
            padding-bottom: 30px;
            background: none;
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 133px;
                left: 0;
                height: 217px;
                background: url('../../img/tree-mobile.png') center (center / cover) no-repeat;
                position: absolute;
                transform: rotateY(180deg);
                z-index: -1;
                bottom: 0;
            }

            &__intro {
                flex-direction: column;

                &-divider {
                    display: flex;
                    justify-content: center;
                    order: 1;
                    background-color: #34642C;

                    &::before {
                        background: url('../../icons/intro.svg') center (center / cover) no-repeat;
                    }
                }
            }

            &__title {
                order: 2;
                width: 100%;
                color: #34642C;
                text-align: center;
                margin-top: 15px;
            }

            &__descr {
                font-weight: $light;
            }

            &__hidden-mobile {
                display: none;
            }

            &__wrapper {
                margin-top: 18px;
            }

            .tabs__wrapper {
                min-height: auto;
                position: relative;
                padding-bottom: 40px;
            }

            .tabs__footnote {
                display: none;
            }
        }
    }

    @media (max-width: 425px) {
        .care {
            &__descr {
                padding: 18px 7px;
                line-height: 15px;
            }
        }

        .tabs__item {
            height: 45px;
            font-size: 14px;
            font-weight: $light;
        }
    }
}