.hamburger {
    display: none;
}
.hero {
    background: url('../../img/hero/hero.jpg') center (center / cover) no-repeat;
    min-height: 746px;
    position: relative;
    // .hero__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin-top: 100px;
    }

    // .hero__titles

    // .hero__title

    &__title {
        max-width: 430px;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        font-weight: $light;
        text-transform: inherit;
    }

    // .hero__button

    &__button {
        max-width: 340px;
        padding: 18px 65px;
        display: flex;
        align-items: center;
        height: 60px;
        background: rgba(255, 126, 53, 0.53);
        border: 2px solid #FF7E35;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25), inset 9px 9px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-size: 24px;
        line-height: 28px;
        color: #FFDF9E;
        text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
        font-weight: $light;
        margin-top: 45px;
        cursor: pointer;
    }

    // .hero__social

    &__social {
        margin-right: 4px;
        height: 128px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    // .hero__advantages

    &__advantages {
        position: relative;
        bottom: -100px;
        display: flex;
        justify-content: center;
        width: 100%;
        background: rgba(33, 26, 21, 0.87);
        border-radius: 5px;
        min-height: 122px;
        padding: 25px 0;
    }

    // .hero__advantages-item

    &__advantages-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__advantages-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    // .hero__advantages-icons

    &__advantages-icons {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    // .hero__advantages-title

    &__advantages-title {
        font-size: 14px;
        line-height: 16px;
        color: #FFDF9E;
        font-weight: $light;
    }
}
.header {
    background-color: rgba(37, 73, 31, 0.31);
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
    height: 48px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}
.main-navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    // .main-navigation__link

    &__link {
        font-weight: $light;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        & {
            margin-right: 88px;
        }
    }
}
.contacts {
    display: flex;
    flex-direction: column;

    // .contacts__phone

    &__phone {
        font-size: 14px;
        line-height: 113.19%;
        letter-spacing: 0.03em;
        color: #FFDF9E;
        text-decoration: none;
        font-weight: $light;
        display: flex;
        align-items: center;
        &::before {
            content: '';
            display: block;
            background: url('../../icons/advantages/phone.svg') center (center / cover) no-repeat;
            width: 11px;
            height: 11px;
            margin-right: 8px;
        }

    }

    // .contacts__geo

    &__geo {
        font-size: 14px;
        line-height: 113.19%;
        letter-spacing: 0.03em;
        color: #FFDF9E;
        text-decoration: none;
        font-weight: $light;
        margin-top: 4px;
        display: flex;
        align-items: center;
        &::before {
            content: '';
            display: block;
            background: url('../../icons/contacts/geo.svg') center (center / cover) no-repeat;
            width: 11px;
            height: 11px;
            margin-right: 8px;
        }
    }
}
.logo {
    max-width: 267px;
    height: 204px;
}


//Media

@media (max-width: 1199.98px) {
    .main-navigation {
        &__link {
            margin-right: 65px;
        }
    }
}

@media (max-width: 991.98px) {
    .main-navigation {
        &__link {
            margin-right: 40px;
        }
    }
    .contacts {
        &__phone, &__geo {
            font-size: 13px;
        }
    }
    .hero {
        &__button {
            max-width: 280px;
            padding: 15px 45px;
        }
        &__advantages {
            bottom: -100px;
        }
        &__title {
            font-size: 30px;
        }
    }
}

@media (max-width: 767.98px) {
    .hero {
        &__title {
            font-size: 25px;
            line-height: normal;
        }
        &__button {
            max-width: 250px;
            padding: 15px 30px;
            height: 50px;
        }
        &__advantages {
            bottom: -140px;
            &-title {
                font-size: 13px;
            }
        }
    }
        .hamburger {
            display: block;
            position: absolute;
            left: 13px;
            transform: translateY(-50%);
            width: 21px;
            height: 11px;
            top: 20px;
            z-index: 99;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #ffffff;
                margin-bottom: 4px;
                transition: 0.5s all;
                z-index: 99;
            }
                &-active {
                    z-index: 99;
                    span {
                        margin-bottom: -2px;
                        &:nth-child(1) {
                            transform: translateY(3px) rotate(-45deg);
                            background-color: #fff;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(2) {
                            transform: translateY(3px) rotate(45deg);
                            background-color: #fff;
                        }
                    }
                }
            
        }
        .contacts {
            flex-direction: column-reverse;
            &__geo {
                &::before {
                    display: none;
                    align-items: flex-start;
                }
            }
        }
        .navigation {
            justify-content: flex-end;
        }
        .main-navigation {
            position: fixed;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 100%;
            min-height: 152px;
            padding: 20px 15px;
            flex-direction: column;
            background-color: rgba(36, 69, 30, 0.89);
            z-index: 10;
            transition: 0.6s all;
            margin: 0;
            align-items: flex-start;
            justify-content: space-between;
            padding: 9px 15px 15px 55px;
            li {
                margin-right: 0;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
            }
            &-active {
                left: 0;
            }
        }
    }   

@media (max-width: 575.98px) {
    .logo {
        margin-right: 0;
    }
    .hero {
        min-height: 660px;
        &__title {
            text-align: center;
        }
        &__button {
            margin: 45px auto;
        }
        &__wrapper {
            margin-top: 55px;
            flex-direction: column;
            align-items: center;
        }
        &__titles {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__advantages {
            display: none;
        }
        &__social {
            flex-direction: row;
            height: 100%;
            a {
                &:not(:last-child) {
                margin-right: 13px;
            }
            }
            
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            background: url('../../img/footer-bg.svg') center (center / cover) no-repeat;
            height: 70px;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 99;
        }
    }
}

@media (max-width: 425px) {
    .hero {
        min-height: 580px;
        &__title {
            font-size: 14px;
            margin-top: -40px;
        }
        &__button {
            width: 177px;
            height: 29px;
            font-size: 14px;
        }
        &__social {
            margin-top: 100px;
            img {
                width: 20px;
            }
        }
    }
    .logo {
        width: 170px;
        height: 165px;
    }
}